@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c:wght@300;400&family=Noto+Serif+JP:wght@300;400&display=swap');
.main-page {
  margin: auto;
  text-align: left;
  color: gray;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
}

.content {
  font-size: 1.1rem;
  margin-top: 1rem;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
}

.title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.left-content {
  height: 100vh;
  margin-left: 9%;
}

.right-content {
  margin-left: 15px;
  margin-top: 15vh;
  width: 55%;
}
/* 
.button-bar {
  text-align: center;
} */

.changing-image {
  max-width: 100%;
  max-height: 100%;
  opacity: 70%;
  display: block;
  object-fit: cover;
}

.changing-image:hover {
  opacity: 100%;
}
.icon {
  color: gray;
  margin: 0px 10px;
}

.icon:hover {
  color: black;
}